body {
  margin: 0;
  padding: 0;
}
#hero {
  background-color: #454545;
  height: 90vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-family: 'Poppins', sans-serif;
}
#hero .judul {
  color: white;
  text-align: end;
  position: absolute;
  top: 100px;
  right: 30px;
  width: 100%;
  font-weight: 800;
  font-size: 50px;
}
#hero > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#hero > p {
  color: white;
  text-align: end;
  position: absolute;
  top: 200px;
  right: 30px;
  width: 100%;
  font-size: 24px;
}
#hero > button {
  color: black;
  position: absolute;
  top: 300px;
  right: 40px;
  width: 80px;
  font-family: 'Poppins', sans-serif;
  margin-right: 5px;
}
